:root {
  --roboto: 'Roboto Mono', monospace;
}

body {
  background-color: #f7f7f7;
}

.main_section {
  display: flex;
  margin: 50px auto;

  max-width: 770px;

  background: white;

  font-family: var(--roboto);

  transition: box-shadow .2s;
}

.main_section:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 1px 2px 40px 50px;
}

.my_sidebar {
  width: 35%;

  background: #cacaca;
}

.switch {
  margin-top: 10px;
  margin-left: 15px;
}

input[type="checkbox"] {
  position: relative;

  width: 36px;
  height: 16px;

  -webkit-appearance: none;
  outline: none;

  background: #fff;

  border-radius: 20px;
  border: 2px solid black;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;

  width: 8px;
  height: 8px;

  border-radius: 20px;
  border: 1px solid black;

  top: 2px;
  left: 2px;

  background: linear-gradient(to top left, yellow, blue);
  transition: .5s;
  transform: scale(1.1);
}

input:checked[type="checkbox"]::before {
  left: 22px;

  background: linear-gradient(to top right, red, white, blue);
}

.my_img {
  text-align: center;

  margin-top: 10px;
}

.img {
  width: 180px;
  height: 180px;

  border-radius: 50%;

  outline: 1px solid black;
  outline-offset: 3px;
}

.contact {
  width: 80%;

  margin: 0 auto;
}

.contact_contacts {
  margin-top: 25px;
  margin-bottom: 15px;

  font-weight: 600;
  line-height: 1;
}

.contact_icon {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  text-align: center;
}

a.reviews_star {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  border: 1px solid black;
  border-radius: 50%;

  transition: color .1s linear;
  transition: background-color .1s linear;
}

.reviews_star:hover {
  color: white;
  background-color: black;
}

.contact_tel {
  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.contact_tel:hover {
  text-decoration: underline;
}

.contact_email {
  margin-bottom: 20px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.contact_email:hover {
  text-decoration: underline;
}

.my_sidebar_sections {
  width: 80%;

  margin: 0 auto;
}

.my_sidebar_sections h2 {
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 600;
  line-height: 1;
}

.my_sidebar_sections h3 {
  font-weight: 300;
  line-height: 1;
}

.some_list {
  margin-top: 15px;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.some_list li {
  height: 25px;

  padding: 5px;

  background: #f7f7f7;
  border-radius: 4px;
  flex-grow: 0;

  color: #353a3f;

  font-size: 10px;
  font-weight: 500;
}

.main_content {
  width: 65%;
}

.main_content_about_me {
  text-transform: uppercase;
  text-align: center;

  letter-spacing: 5px;
}

.main_content_about_me h1 {
  margin-top: 30px;
  margin-bottom: 5px;

  color: black;

  font-size: 44px;
  font-weight: bold;
  line-height: 1.1;
  font-weight: 700;
}

.main_content_about_me span {
  color: #c4c0c0;

  font-size: 15px;
  font-weight: 600;
}

.main_content_body {
  margin-left: 35px;
}

.main_content_profile h2 {
  margin-top: 60px;
  margin-bottom: 30px;

  color: black;

  line-height: 1.1;
  font-weight: 700;
}

.main_content_profile p {
  color: black;

  font-size: 12px;
  font-weight: 600;
}

.my_works {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my_works h2 {
  color: black;

  line-height: 1.1;
  font-weight: 700;
}

.my_work_enzym {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my_work_enzym h3 {
  font-weight: 700;
}

.my_work_time {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my_work_title {
  margin-bottom: 10px;

  font-size: 13px;
  font-weight: 500;
}

.my_work_svitoch h3 {
  font-weight: 700;
}

.my_work_do {
  font-size: 13px;
  font-weight: 500;

  line-height: 1.4;
}

ul.my_work_do li {
  list-style-type: disc;
}

.my_education h2 {
  margin-top: 30px;
  margin-bottom: 30px;

  color: black;

  line-height: 1.1;
  font-weight: 700;
}

.my_education_time {
  margin-bottom: 20px;
}

.my_education_time li {
  padding-bottom: 8px;
}

.tablet {
  display: none;
}

.tablet h1 {
  font-size: 25px;
}

.tablet span {
  color: #999191;
}

.helpers_sub_titles {
  font-size: 12px;

  text-transform: uppercase;

  letter-spacing: 2px;
}

.helpers_date {
  font-size: 12px;

  text-transform: uppercase;

  letter-spacing: 2px;
}

.helpers_titles {
  font-size: 20px;

  text-transform: uppercase;

  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .main_section {
    display: block;

    box-shadow: rgba(149, 157, 165, 0.2) 1px 2px 10px 10px;
  }

  .my_sidebar {
    width: 100%;
  }

  .img {
    margin-top: 30px;
  }

  .my_sidebar_cells {
    display: grid;
    justify-content: center;

    grid-template-columns: 270px 250px;
    grid-template-rows: 130px 120px;
    grid-gap: 20px 40px;

    grid-template-areas: "contacts language"
                         "skills wish"
                         "skills dream";
  }

  .my_sidebar_cells .contacts { grid-area: contacts; }
  .my_sidebar_cells .skills   { grid-area: skills; }
  .my_sidebar_cells .language { grid-area: language; }
  .my_sidebar_cells .wish     { grid-area: wish; }
  .my_sidebar_cells .dream    { grid-area: dream; }

  .main_content {
    width: 100%;
  }

  .main_content_about_me {
    display: none;
  }

  .tablet {
    display: block;
  }

  .main_content_body {
    margin-left: 0;
  }

  .main_content_profile,
  .my_education,
  .my_works h2 {
    text-align: center;
  }

  .main_content_profile h2 {
    margin-top: 30px;
  }

  .my_works {
    margin-bottom: 0;
  }

  .work {
    display: flex;
    justify-content: center;

    margin-top: 30px;
  }

  .my_work_enzym {
    margin: 0 0;
  }

  .my_work_enzym,
  .my_work_svitoch {
    margin-left: 40px;
  }

  .my_education {
    padding-bottom: 15px;
  }
}
