body {
  background-color: #f7f7f7;
}

.section {
  display: flex;
  margin: 0 auto;

  width: 810px;

  background: white;
}

.my_sidebar {
  width: 250px;

  background: #cacaca;
}

.my_img {
  margin: 10px 21px 10px 21px;

  text-align: center;
}

.img {
  width: 180px;
  height: 180px;

  border-radius: 50%;

  outline: 1px solid black;
  outline-offset: 3px;
}

.main_content {
  width: 526px;

  margin-left: 20px;
}

.main_content_about_me {
  text-transform: uppercase;
  text-align: center;

  letter-spacing: 5px;
  font-family: 'Roboto Mono', monospace;
}

.main_content_about_me h1 {
  margin-top: 30px;
  margin-bottom: 5px;

  color: black;

  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  font-weight: 700;
}

.main_content_about_me span {
  color: #c4c0c0;

  font-size: 15px;
  font-weight: 600;
}


