:root {
  --roboto: 'Roboto Mono', monospace;
}

body {
  background-color: #f7f7f7;
}

.main_section {
  display: flex;
  margin: 0 auto;

  width: 800px;

  background: white;

  font-family: var(--roboto);
}

.my_sidebar {
  width: 270px;

  margin: 0 auto;

  background: #cacaca;
}

.my_img {
  width: 80%;

  text-align: center;
}

.img {
  width: 180px;
  height: 180px;

  border-radius: 50%;

  outline: 1px solid black;
  outline-offset: 3px;
}

.contact {
  width: 80%;

  margin: 0 auto;
}

.contact_contacts {
  margin-top: 25px;
  margin-bottom: 15px;

  font-weight: 600;
  line-height: 1;
}

.contact_icon {
  display: flex;
  justify-content: space-between;

  text-align: center;
}

.reviews_star {
  width: 35px;
  height: 35px;

  border: 1px solid black;
  border-radius: 50%;

  padding-top: 6px;

  transition: color .1s linear;
  transition: background-color .1s linear;
}

.reviews_star:hover {
  color: white;
  background-color: black;
}

.contact_tel {
  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.contact_tel:hover {
  text-decoration: underline;
}

.contact_email {
  margin-bottom: 20px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.contact_email:hover {
  text-decoration: underline;
}

.skills {
  width: 80%;

  margin: 0 auto;
}

.skills h2 {
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 600;
  line-height: 1;
}

.skills h3 {
  font-weight: 300;
  line-height: 1;
}

.some_skills {
  margin-top: 15px;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.tag_button {
  height: 25px;

  padding: 5px;

  background: #f7f7f7;
  border-radius: 4px;
  flex-grow: 0;

  color: #353a3f;

  font-size: 10px;
  font-weight: 500;
}

.tag_button:hover {
  cursor: pointer;
}

.main_content {
  width: 480px;

  margin-left: 30px;
}

.main_content_about_me {
  text-transform: uppercase;
  text-align: center;

  letter-spacing: 5px;
}

.main_content_about_me h1 {
  margin-top: 30px;
  margin-bottom: 5px;

  color: black;

  font-size: 44px;
  font-weight: bold;
  line-height: 1.1;
  font-weight: 700;
}

.main_content_about_me span {
  color: #c4c0c0;

  font-size: 15px;
  font-weight: 600;
}

.main_content_profile h2 {
  margin-top: 60px;
  margin-bottom: 30px;

  color: black;

  line-height: 1.1;
  font-weight: 700;
}

.main_content_profile p {
  color: black;

  font-size: 12px;
  font-weight: 600;
}

.my_works {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my_works h2 {
  color: black;

  line-height: 1.1;
  font-weight: 700;
}

.my_work_enzym {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my_work_enzym h3 {
  font-weight: 700;
}

.my_work_time {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my_work_title {
  margin-bottom: 10px;

  font-size: 13px;
  font-weight: 500;
}

.my_work_svitoch h3 {
  font-weight: 700;
}

.my_work_do {
  font-size: 13px;
  font-weight: 500;

  line-height: 1.4;
}

ul, ul li {
  list-style-type: disc;
}

.helpers_font_12 {
  font-size: 12px;

  text-transform: uppercase;

  letter-spacing: 2px;
}

.helpers_font_20 {
  font-size: 20px;

  text-transform: uppercase;

  letter-spacing: 2px;
}
